.navBar {
  background-color: #fff;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1100px;
    padding: 0 20px;
  }

  &__logo {
    font-size: 2rem;
    font-weight: bold;
    color: #333;
  }

  &__menuToggle {
    display: none;
    cursor: pointer;
    border: none;
    background-color: transparent;
    padding: 0;

    span {
      display: block;
      width: 2rem;
      height: 0.25rem;
      margin-bottom: 0.5rem;
      background-color: #333;
      transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }
  }

  &__menuItems {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;

    li {
      margin-left: 1rem;
    }

    a {
      color: #333;
      text-decoration: none;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: #666;
      }
    }
  }

    &__menuToggle--open {
      span:nth-child(1) {
        transform: rotate(45deg) translate(0.3rem, 0.6rem);
      }

      span:nth-child(2) {
        opacity: 0;
      }

      span:nth-child(3) {
        transform: rotate(-45deg) translate(0.3rem, -0.6rem);
      }
    }
    
}


@media screen and (max-width: 768px) {
  .navBar {
    &__menuToggle {
      display: block;

      &--open {
        opacity: 1;
        pointer-events: auto;
      }
    }

    &__menuItems {
      position: absolute;
      top: 63px;
      left: 0;
      width: 100%;
      background-color: #fff;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s ease-in-out;

      &--open {
        opacity: 1;
        pointer-events: auto; 
      }
    }
  }
}
