.footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background: rgb(67,67,67);
    background: linear-gradient(0deg, rgba(67,67,67,1) 0%, rgba(255,255,255,1) 55%);

    a{
        padding: 20px;
    }

    @media only screen and (max-width: 440px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
  }